
body {
    background-color: #343a40;
    font-family: 'Playfair', 'Segoe UI';
    font-weight: 300;
    line-height: normal;  
    margin: 0;
}

.picture {
    border-radius: 400px;
    width: 150px;
    position: absolute;
    left: 900px;
    top: 80px;
}


h1, h2, h3 {
    color: rgb(231, 231, 231);
    margin-left: 200px;

}

.name-color {
    color: #cccccc;
}

.background-header {
    background-color: rgb(39, 39, 39);
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-name {
    color: rgb(196, 55, 0);
    font-size: 50px;
    margin-left: 200px;
}

.about-me {
    background-color: rgba(170, 69, 29, 0.164);
    color: rgb(196, 55, 0);
    padding: 4px 0px;
    border-radius: 2px;
    font-size: 16px;
    max-width: 100px;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 100px;
}

p {
    color: #cccccc;
    font-size: 18px;
    margin-left: 200px;
    max-width: 25%;
}

.line-space {
    line-height: 40px;
    color: #cccccc;
    text-decoration: none;
    margin-left: 200px;
}

.button {
    text-decoration: none;
    color: #cccccc;
}

.orange-color {
    color:rgb(196, 55, 0); 
}


    